<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://zjh2017.geekyoyo.cn/gameclient/download/cn.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>url</key>
<string>http://zjh2017.geekyoyo.cn/gameclient/download/image.57x57.png</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>url</key>
<string>gameclient/gameclient/download/image.512x512.png</string>
</dict>